body {
  background-color: lightsteelblue;
}

.container {
  max-width: 500px;
}

li {
  margin-bottom: 1px;
  margin-top: 1px;
}

h1 {
  color: black;
}

label {
  color: black;
}

.delete {
  cursor: pointer;
}

input[type="text"],
input[type="text"]:focus {
  color: black;
  background: whitesmoke;
  max-width: 500px;
}

.todos li {
  color: black;
}
